.venv/
__pycache__/
images/
eval_results/
final_model.pth
results/
thesis/main-blx.bib
thesis/main.aux
thesis/main.bbl
thesis/main.bcf
thesis/main.blg
thesis/main.log
thesis/main.out
thesis/main.pdf
thesis/main.run.xml
thesis/main.synctex.gz
thesis/main.toc
thesis/missfont.log
